html {
    background-color: #222222;
}

p {
    color: rgb(255, 255, 255);
}

body {
    height: 92vh;
    width: auto;
    aspect-ratio: 1/1;
    justify-self: center;
}

.mainDiv {
    display: flex;
}

.square {
    box-sizing: border-box;
    flex: 1;
    aspect-ratio: 1 / 1;
    background-color: #818181;
    /* border: 1px solid #000000; */
}

.settings {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.settings div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    width: 100px;
    height: 40px;
}
